.analog-fieldset {
  margin: 8px;
  border: 1px solid silver;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}
.analog-legend {
  padding: 2px;
}
.analog-label-input{
  padding: 10px;
  width: 80px;
  display: flex;
  justify-content: flex-start;
}
.analog-lable-unit {
  padding: 10px;
}
.analog-lable-value {
  padding: 6px 0px 6px 15px;
  font-size: 20px;
  font-weight: 400;
  color: #00029d;
}
.analog-label-checkbox {
  padding-top: 8px;
}
.analog-flex{
  display: flex;
}